# Aplicación
FLASK_ENV=
FLASK_DEBUG=
SECRET_KEY=
FLASK_HOST=
FLASK_PORT=


# CORS (dominio del frontend que consumirá la API)
FRONTEND_URL=

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
POSTGRES_HOST=

# JWT
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=
JWT_REFRESH_TOKEN_EXPIRES_DAYS=

# reCAPTCHA
RECAPTCHA_SECRET_KEY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_MIN_SCORE=